<div class="pet-header">
  <h3 class="my-pets-cards">Your Bookings
    <%= link_to root_path do  %>
    <i class="fas fa-plus"></i>
  <% end %></h3>
  <div class='cards'>
    <%current_user.bookings.each do |booking|%>
      <div class="card-trip">
        <%= link_to animal_path(booking.animal) do  %>
        <%= cl_image_tag booking.animal.photo %>
        <% end %>
        <div class="card-trip-infos">
          <div>
          <h2><%= booking.animal.name %></h2>
          <p><%= booking.animal.species %></p>
          <p><%= booking.start_date %>/</p>
          <p><%= booking.end_date %></p>
          </div>
          <p class="card-trip-pricing text-right"> Status: <%= booking.status %></p>
        </div>
      </div>
    <% end %>
</div>
