<% if @requests.present? %>
  <div class="pet-header">
    <h3 class="my-pets-cards">My Requests
      <%= link_to root_path do  %>
      <i class="fas fa-plus"></i>
    <% end %></h3>
    <div class='cards'>
      <%@requests.each do |request|%>
        <div class="card-trip">
          <%= link_to animal_path(request.animal) do  %>
          <%= cl_image_tag request.animal.photo %>
          <% end %>
          <div class="card-trip-infos d-flex">
            <div class= "small-bottom-padding">
              <h2><%= request.animal.name %></h2>
              <p><%= request.animal.species %></p>
            </div>
            <div class="card-trip-pricing text-right d-flex flex-column">
              <p> Status: <%= request.status %></p>
              <div class="text-right d-flex flex-row-reverse ">
                <div class="pl-2">
                  <%= link_to accept_booking_path(request),method: :patch do  %>
                    <i class="fas fa-check"></i>
                  <% end %>
                </div>
                <%= link_to decline_booking_path(request), method: :patch do  %>
                  <i class="far fa-times-circle"></i>
                <% end %>
              </div>
             </div>
            </div>
          <p class="pl-2 pb-1"><%= request.start_date %>~<%= request.end_date %></p>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%=  %>
<% end %>
