<div class="container">
  <div class="row user-info">
    <div class="col-sm-12 col-md-6">
      <%= cl_image_tag current_user.avatar, class:"avatar-profile " %>
    </div>
    <div class="description col-sm-12 col-md-6 ">
      <h1>Hello <%= current_user.first_name %>,</h1>
      <br>
      <h5>Your public description:</h5>
      <p>I am the owner of the Barcelona Animal Rescue shelter. The pets that come into my shelter deserve attention and love. When you choose to foster a pet from our shelter, you will be changing the quality of life for a little animal. Most of our animals come from the streets of Barcelona. They often come to us malnourished and lack of affection for an extended amount of time.</p>
      <%#= current_user.description %>
    </div>
  </div>
  <div class="pet-header">
    <h3 class="my-pets-cards">Your pets
  <%= link_to new_animal_path do  %>
    <i class="fas fa-plus"></i>
  <% end %>
  </h3>
  <div class='cards'>
  <%  current_user.animals.each do |animal|%>
    <div class="card-trip">
   <%= link_to animal_path(animal) do  %>
       <%= cl_image_tag animal.photo %>
    <% end %>
       <div class="card-trip-infos">
        <div>
          <h2><%= animal.name %></h2>
          <p><%= animal.species %></p>
        </div>
        <h2 class="card-trip-pricing">
          <%= animal.price %>/night
          <%= link_to edit_animal_path(animal) do%>
            <i class="far fa-edit"></i>
          <% end %>
            <%= link_to animal_path(animal), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
        </h2>
       </div>
     </div>
  <% end %>
  </div>
</div>


