<div class="container">
<div class="row">
  <i class="col-sm-12 col-md-6 fas fa-user"></i>
  <div class="description col-sm-12 col-md-6">
    <h1>Hi<%#= current_user.name.capitalize %>!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur expedita ipsam voluptatibus incidunt aperiam quis asperiores voluptatem molestiae necessitatibus delectus ad explicabo totam obcaecati consectetur praesentium doloribus iure commodi vero optio ipsa soluta rerum, fugit veritatis tempora. Fugit dolores commodi, possimus aliquid quibusdam! Autem magni excepturi distinctio, minus libero tenetur animi cum veritatis est rerum deserunt commodi praesentium perferendis dolor nemo, numquam nihil corrupti voluptatibus beatae provident enim labore aliquid molestiae, itaque consequuntur? Pariatur nobis eum, dolorem cumque autem expedita, eveniet ipsum corrupti beatae doloremque tempore alias laborum. Ad nulla earum magnam quidem iste ducimus mollitia eius iusto, ut eum.</p>
    <%#= current_user.description %>
  </div>
</div>
  <h3 class="my-pets-cards">My pets
  <%= link_to new_animal_path do  %>
    <i class="fas fa-plus"></i>
  <% end %>
  </h3>
  <div class='cards'>
  <%  current_user.animals.each do |animal|%>
   <%= link_to animal_path(animal) do  %>
    <div class="card-trip">
       <%= cl_image_tag animal.photo %>
       <div class="card-trip-infos">
        <div>
          <h2><%= animal.name %></h2>
          <p><%= animal.species %></p>
        </div>
        <h2 class="card-trip-pricing"><%= animal.price %>/ night</h2>
       </div>
     </div>
    <% end %>
  <% end %>
  </div>
</div>
