<html class="home-page">
  <div class="container border-radius-lg mt-5 bg-dark">
    <div class="landing-title p-2">
      <h1>Welcome to AirPet</h1>
      <p>Where you can share your pet with other people that aren't lucky enough to have their own</p>
      <div class="row ml-3">
        <div class="col-12 col-md-6">
          <%= form_tag animals_path, method: :get do %>
            <label>Location</label>
            <%= text_field_tag :location,
            params[:location], id:'animal_address', class: "form-control",
            placeholder: "City" %><br>
            <label>Pet</label>
            <%= select_tag :species, options_for_select(Animal::SPECIES) %><br>
            <label>Pickup date</label>
            <%= date_field_tag :start_date,
            params[:start_date], class: "form-control",
            placeholder: Date.current, value: Date.current%><br>
            <label>Return date</label>
            <%= date_field_tag :end_date,
            params[:end_date], class: "form-control",
            placeholder: Date.current, value: Date.tomorrow %><br>
            <%= submit_tag "Find your Pet!", class: "button-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
