<div class="container">
  <div class="row"> <!--Dividing the screen in 2-->
    <div class="col-8"> <!--First half of the screen-->

      <%= cl_image_tag(@animal.photo, class: "w-100 mb-3") %>

      <div class="card">
        <h1><%=@animal.name%></h1>
        <p class="mb-0">Species: <%=@animal.species%></p>
        <div class="d-flex justify-content-between">
          <p>Located in <%=@animal.location%></p>
          <p><%=@animal.user.avatar%></p>
        </div>
      </div>


      <div class="card">
        <h4>Description </h4>
        <i><p>"<%=@animal.characteristics%>"</p></i>
      </div>

      <div class="card">
        <div>
          <h4>Reviews</h4>
          <p class="text-secondary"><%=pluralize @animal.reviews.size, "review"%> about <%=@animal.name%></p>
        </div>

        <div class="border-bottom mb-4">
          <%if @animal.reviews.blank?%>
            <p>Be the first to leave a review for <%=@animal.name%></p>
          <%else%>
            <div id="reviews">
              <%@animal.reviews.each do |review|%>
                <%= render "animals/review", review: review %>
              <%end%>
            </div>
          <%end%>
        </div>

        <div>
          <p>How did you like <%=@animal.name%>?</p>
          <%=render "reviews/form", animal: @animal, review: Review.new %>
        </div>
        <%= link_to "Back to all animals", animals_path, class: "mb-1 text-secondary" %>
      </div>
    </div>

    <div class="col-4"> <!--Second half of the screen-->
      <div class="sticky-top card justify-content-center">
        <div class="border-bottom mb-4">
          <h2>Booking</h2>
          <p>Enter the dates on which you would want to book the <%=@animal.species%> <%=@animal.name%></p>
        </div>

        <div>
          <%=render "bookings/form"%>
        </div>

      </div>
    </div>
  </div>
</div>
