<%=render 'components/banner', photo: @animal.photo%>
<div class="container">
  <div>
   <div>
     <h1><%=@animal.name%> - <%=@animal.species%></h1>
     <h4><%=@animal.location%></h4>
   </div>

   <div>
     <!-- <h4><%=@animal.user%></h4> -->
   </div>
  </div>

  <div class="card">
    <h5>Species: </h5>
    <p><%=@animal.species%></p>
    <h5>Description: </h5>
    <p><%=@animal.characteristics%></p>
  </div>

<<<<<<< HEAD
 <div>
  <%=simple_form_for [@animal] do |f|%>
    <%=f.input :start_date %>
    <%=f.input :end_date %>
=======

  <div class="d-flex">
    <%= link_to "Back to all animals", animals_path, class:"button-primary" %>
    <%=simple_form_for [@animal] do |f|%>
>>>>>>> 0669b545e4f57e286a59e0abbf942e3178f40149
    <%=f.submit "Book", class: "button-primary" %>
    <%end%>
  </div>
</div>
