<%=render 'components/banner', photo: @animal.photo%>
<div class="container">

   <div>

 <div>
    <div class="wrapper">


     <div>
       <div>
         <h1><%=@animal.name%> - <%=@animal.species%></h1>
         <h4><%=@animal.location%></h4>
       </div>

       <div>
         <h4><%=@animal.user%></h4>
       </div>
     </div>

     <div class="card">
       <h5>Species: </h5>
       <p><%=@animal.species%></p>
       <h5>Description: </h5>
       <p><%=@animal.characteristics%></p>
     </div>
   </div>

 </div>
  <%=simple_form_for [@animal] do |f|%>
    <%=f.submit "Book", class: "btn btn-primary" %>
  <%end%>
</div>


   <div>
    <!-- FORM NEEDS A USER TO BE LOGGED IN -->
   </div>

</div>
