<div class="container">
  <div class="row">
    <div class="col">

      <%= cl_image_tag(@animal.photo, width: 550, height: 550, crop: :fill) %>

      <div class="d-flex">
        <div>
          <h1><%=@animal.name%></h1>
          <h5><%=@animal.location%></h5>
        </div>
        <div>
          <h5><%=@animal.user.name%></h5>
        </div>
      </div>

      <div class="card">
        <h5>Species: </h5>
        <p><%=@animal.species%></p>
        <h5>Description: </h5>
        <p><%=@animal.characteristics%></p>
      </div>

      <%= render "reviews" %>

    <div class="border-bottom">
      <h2>Reviews</h2>
        <p>Do you want to say something about <%=@animal.name%> the <%=@animal.species%>?</p>
      </div>

      <%=simple_form_for([@animal, @review]) do |f|%>
      <%=f.input :rating %>
      <%=f.input :description %>
      <%=f.submit "Post review", class: "button-primary"%>
      <%end%>

    </div>

    <div class="col">
      <div class="sticky-top">
        <div class="border-bottom">
          <h2>Booking</h2>
          <p>Enter the dates on which you would want to book the <%=@animal.species%> <%=@animal.name%></p>
        </div>
        <%=simple_form_for (@booking) do |f|%>
        <%=f.input :start_date %>
        <%=f.input :end_date %>
        <%=f.hidden_field :animal, value: @animal.id%>
        <%=f.submit "Book", class: "button-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Back to all animals", animals_path, class:"button-primary" %>
</div>
